<% javascript 'init' %>
<% javascript 'skel.min' %>
<% css 'register' %>


<!--
	Aerial 1.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<div id="wrapper">
  <div id="bg">

  </div>
  <div id="overlay">

  </div>
  <div id="main">
    <!-- Header -->
    <header id="header">
      <h1><a href=""><%= image_tag 'Planzy7.png', :style => 'opacity: 1; filter: alpha(opacity=100); border: 0;', size: '480x210' %></a></h1>

      <% if !devise_error_messages!.empty? %>
          <div style="color: white !important; text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;">  <%= devise_error_messages! %> </div>
        <% else  %>
          <p style="color: white; font-size: 2.25em;">Plan Your Courses &nbsp;&bull;&nbsp; Succeed &nbsp;&bull;&nbsp; Graduate On Time </p>
      <% end %>



      <h5><section class="container">

        <div class="login">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.email_field :email, autofocus: true, :placeholder => "E-mail" %>
              </div>

              <div class="field">
                <% if @validatable %>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", :placeholder => "Password (8ch minimum)" %>
              </div>

              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm Password" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>
            <% end %>
        </div>
          </section></h5>
    </header>
  </div>
</div>

<%= render "devise/shared/links" %>
